@charset "utf-8";



html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

:root {
  --base: #faefdf;
  --color_1: #8d7f6d;
  --color_2: #5c5c51;
  --color_3: #c8c8b4;
  --text-color:#433d34;

  --font_ja: "Hina Mincho", serif;
  --font_en: "Cormorant Garamond", serif;
}

html{
scroll-behavior: smooth;  
}

body{
  background-color: var(--base);  
  color: var(--text-color);
  font-family: var(--font_en);
  font-family: var(--font_ja);
  }

/* ヘッダー部分 */
header {
  width: fit-content;
  height: auto;
  background-color: #594b379e;
  backdrop-filter: blur;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  color:#ffffff;

  /* 640px以下 */
  @media (max-width: 640px){
width: 90%;
left: 0;
right: 0;
top: 30px;
margin: auto; 
  
  }
}

h1 {
  font-size: 50px;
  margin-bottom: 16px;
  font-family: var(--font_en);
  > span {
    font-family: var(--font_ja);
    display: block;
    font-size: 18px;
    font-weight: 300;
  }
}

.tag-line{
font-size: 20px;
@media (max-width: 960px){
font-size: 14px;
}
}




/* ハンバーガーボタン */
#ham-btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: calc(infinity);
  background-color: #faefdf9e;
  transition: 0.2s;
}

/* ナビゲーション */
#g-nav {
width: 100%;
height: 100vh;
background: url(../img/nav-bg-2.webp) no-repeat center center/cover;
position: fixed;
top: 0;
left: 0;
z-index: 30;
display: flex;
flex-direction: row-reverse;
>ul{
width: 50%;
height: 100vh;  
background-color: #ffffffbc;
backdrop-filter: blur(6px);
padding: 5%;
display:flex;
flex-wrap: wrap;
justify-content: space-between;
>li{
margin-bottom: 16px;
width: 100%;
>a{
color: var(--text-color);
display: block;
padding: 6px 0;
border-bottom: 2px solid var(--color_3);
}  
&:nth-of-type(n+7){
width: 48%;
margin-top: 10px;
>a{
display: block;
color: #fff;
border-bottom: 0;  
background: #000000 url(../img/x-twitter-brands-solid.svg) no-repeat 20px center/30px;
padding: 10px;
text-align: center;
&:hover{
box-shadow: 0 0 10px #999;  
transition: 0.2s;
}
}
}
&:nth-of-type(8)>a{
background: #ffffff url(../img/line-brands-solid.svg) no-repeat 20px center/30px;
border: 2px solid #1ea353;
color: #084c24;
font-weight: bold;
}
&:nth-of-type(-n+6)>a:hover{
padding-left: 20px;
font-weight: bold;
transition: 0.2s;
}
}
}
@media (max-width: 960px){
>ul{
width: 70%;  
}
}
@media (max-width: 640px){
>ul{
  width:90px ;
  height: 90vh;
  margin: 5vh auto;
}
}
}

/* メインビジュアル */
#main-visual {
width: 100%;
height: 100vh;
@media (max-width: 640px){
  height: 70vh;  
  }
  
  
.form-page>#main-visual{
height: 80vh;  
}
}


/* メインコピー */
.main-copy {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  padding: 150px 10px;
  font-family: var(--font_ja);
  > h2 {
    font-size: 27px;
    margin-bottom: 30px;
    @media (max-width: 640px){
      font-size:18px ;
      margin-bottom: 0;
    
    }
  }
  > .lead {
    font-size: 18px;
    line-height: 2;
    @media (max-width: 640px){
      font-size: 14px;
      margin-top: 20px;
    }
  }
}

/* spの時のみ改行を有効にする */
.sp-on{
display: none;/* 改行を無効にする */
@media (max-width: 640px){
display: block;/* 改行を有効にする */
}
}

/* ギャラリー部分 */
.gallary {
  max-width: 680px;
  margin: 0 auto 200px;
  position: relative;
  > p:nth-of-type(1) {
    box-shadow: -15px 15px 0 #c2c21f;
  }
  > p:nth-of-type(2) {
    position: absolute;
    right: -80px;
    bottom: -100px;
    width: 35%;
    box-shadow: 15px 15px 0 #ed5a36;
  }
  /* 960px以下 */
  @media (max-width: 960px){
  width: 70%;  
  margin: 0 auto 120px;
  > p:nth-of-type(2) {
  right: -30px;
  bottom: -60px;
  }
  }
}

/* 共通部分 */
.content {
  padding: 100px 10px;
  > h3 {
    text-align: center;
    font-size: 23px;
    font-family: var(--font_ja);
    margin-bottom: 60px;
    padding: 25px;
    background-color: #d1cbc2;
    &::after {
      display: block;
      content: attr(data-en);
      font-size: 0.75em;
      font-family: var(--font_ja);
    }

  }   
    @media (max-width: 640px){
    padding: 60px 10px;
  >h3{font-size: 18px;  
  margin-bottom: 30px;
  }
}
}

/* お知らせ部分 */
#news-list {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font_ja);
  > dt {
    width: 30%;
    border-bottom: 2px solid var(--color_1);
    padding: 20px 20px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    &:nth-of-type(n + 4) {
      display: none;
    }
  }
  > dd {
    width: 70%;
    border-bottom: 2px solid var(--color_1);
    padding: 20px 20px 10px;
    margin-bottom: 10px;
    &:nth-of-type(n + 4) {
      display: none;
    }
  }
  /* 640px以下 */
  @media (max-width: 640px){
    display: block;
    text-align: center;
    >dt{
    width: 100%;
    border-bottom: 0;
    padding: 20px 20px 0;
    margin-bottom: 0;
  }
  >dd{
    width: 100%;
    padding: 10px 20px 20px;
    font-size: small;
  }
  }
}

/* メニュー部分 */
.menu-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
  > .menu-box {
    width: calc((100% - 60px) / 3);
    > a {
      color: var(--color_2);
      font-size: 16px;
      font-family: var(--font_ja);
      text-align: center;
      display: block;
    }
    .menu-discription{
      font-size: 12px; 
      line-height: 1.5;
    }
    .menu-photo {
      width: 100%;
      margin-top: 10px;
      aspect-ratio: 1/1;
      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50% 50%以上で正円になる;
        border: 1px solid #0000;
        */ &:hover {
          /* box-shadow: 0 0 12px #77777; */
          transition: 0.2s;
        }
      }
    }
  }

  /* 960px以下 */
@media (max-width: 960px){
gap: 40px 20px;
>.menu-box{
width: calc((100% - 20px) / 2);
>a{
font-size: 16px;  
>.menu-title{
font-size: 12px;  
}
>.menu-discription{
  font-size: 7px; 
  line-height: 1.5;
}
}
}

}
}


/* パララックス部分 */
.parallax{
width: 100%;
height: 60vh;  
background: url(../img/parallax.webp) no-repeat center 40% /cover fixed;
@media (max-width: 960px){
  height: 40vh;
  background: url(../img/parallax.webp) no-repeat center 40% /cover scroll;
}
}

/* 動画部分 */
.movie-inner{
width: 40%;
aspect-ratio: 16/9;  
margin: 0 auto;
>iframe{
width: 100%;
height: 100%;  
}
/* 640px以下 */
@media (max-width: 640px){
width: 90%;
}
}

/* 電話番号の設定 */
.tel{
pointer-events: none;  /* クリックできなくなる */
font-size: 25px;
@media (max-width: 960px){
pointer-events: all;/* 元に戻す */
font-size: 22px;
}
}

/* 店舗情報部分 */
.shop-container{
width: 70%;
margin: 0 auto;
>.g-map{
width: 100%;
aspect-ratio:3/1;
margin-bottom: 50px;
>iframe{
width: 100%;
height: 100%;  
}
}  
>.shop-wrapper{
display: flex;
gap: 0 4%;
>dl{
width: 48%;  
display: flex;
flex-wrap: wrap;
font-size: 16px;
font-family: var(--font_ja);
>dt{
width:35%;  
align-self: baseline;
}
>dd{
width: 60%;  
margin-bottom: 30px;
align-self: baseline;
>a{
color: var(--text-color);
}
}
}
}
/* 960px以下 */
@media (max-width: 960px){
width: 90%;
.shop-wrapper{
flex-direction: column;  
gap: 40px 0;
>dl{
width: 100%;  
>dt,>dd{
text-align: center;  
font-size: 14px;
}
}
}
}
}

/* よくある質問部分 */
  #faq>details{
  max-width: 680px;
  margin: 0 auto 60px;
  >summary{
  background-color: #d3d3c1;  
  font-size: 17px;
  padding: 5px 10px;
  list-style: none;/* 黒い三角を消す、ただしPCのみに有効 */
  font-weight: 200;
  &:hover{
  filter: brightness(85%);
  cursor: pointer;
  transition: 0.2s;
  }
  &::before{
  content: attr(data-question);  
  font-family: var(--font_en);
  font-size: 25px;
  margin-right:10px ;
  }
  }
  >.answer{
  background-color: #FFF;  
  padding: 20px 20px 20px 50px;
  text-indent: -1em;
  line-height: 1.75;
  &::before{
  content: attr(data-answer);  
  font-family: var(--font_en);
  font-size: 25px;
  margin-right: 10px;
  }
  }
  
  @media (max-width: 640px){
    font-size:16px;
  }
}


/* カルーセル部分 */
.carousel ul {
  display: flex;
  li {
    width: 16.6%;
    height: 220px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

/* フッター */
footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: var(--color_1);
  > p {
    text-align: center;
    color: #ffffff;
  }
}

/* CTAボタン */
.to-form{
width: 250px;
text-align: center;
padding: 24px 10px 24px 25px;
background: #ee4a0e url(../img/icon.svg) no-repeat 9% center/20px; 
position: fixed;
right: 0;
bottom:2%; 
z-index: 20;
color: #ffffff;
&::after{
content: "";
display: inline-block;
width: 10px;
height: 10px;
border-top: 2px solid #fff;  
border-right: 2px solid #fff;  
rotate: 45deg;
margin-left: 10px;
}
&:hover{
  background-color: #fd3300;
&::after{
translate: 10px 0;
transition: 0.1s;
}  
}
}



/* 予約ページ部分 */
.form-inner{
max-width: 640px;
margin: 0 auto ;  
>#g-form{
width: 100%;  
}
}

/* 完了ページ部分 */
#thanks>p{
text-align: center;
font-size: 18px;
margin: 60px 0;  
}
.to-toppage{
text-align: center;
display: block;
color: var(--text-color);
&:hover{
text-decoration: underline;  
}
}

/* 多言語化部分 */

#ham-btn{
top: 56px;
background-color: #fff;
}

.lang-btn{
display: flex;
gap: 0 10px;
margin-top: 20px;
>li:nth-of-type(-n+2)::after{
content:"|";
margin-left: 15px;
color: fff;
}
a{
color: #fff;
&:hover{
text-decoration: underline 2px;
text-underline-offset: 2px;
}  
}
}