@charset "utf-8";

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

/* スムーススクロール */
html{
scroll-behavior: smooth;    
}

/* ヘッダー */
header{
background-color: #ffffff ;  
width: fit-content;   
height: 80vh;
position: fixed;
top: 0;
left: 0;
z-index: 5;
font-family: "Fredericka the Great", serif;
padding: 20px 20px;
color: #57556d;
>h1{
margin-bottom: 90px;    
padding:20px 20px;
font-size: 38px;
line-height: 50px;
}

@media (max-width:640px){
width: 70%;
height: 100vh;
background-color:#ffffffb5;    
backdrop-filter: blur(10px);
translate: -100% 0;
transition: 0.3s;
>h1{
margin-bottom: 60px; 
font-size:28px;   
}
&.slide{
translate: 0 0;    
}
}
}
/* ここまでヘッダー */



/* ナビゲーション */
#g-nav{
padding-left: 20px;
>ul{
>li{   
margin-bottom: 18px;  
&:nth-of-type(n+3){
width: 40px;    
}
&:nth-of-type(2){
margin-bottom: 30px;    
}

>a{
color: #57556d;
font-size: 25px;
}
}   
}    
}

/* メインビジュアル */
.main-visual{
width: calc(100% - 100px);
height: calc(100vh - 50px);   
margin: 50px 0 0 100px; 

@media (max-width:640px){
width: 100% ;
height: 60vh; 
margin: 0 0 100px 0;    
li{
height: 60vh;    
} 
}
}
.main-visual li{
width: 100%;
height: 100vh;
}
.main-visual img{
object-fit:cover ;
width: 100%;
height: 100%;
}

/* CTAボタン */
.cta-btn{
position: fixed;
right: 0;
top: 50%;
translate: 0 -50%;
margin: auto;
z-index: 10;
background-color: red;
color: #ffffff;    
writing-mode: vertical-rl;/* 文字を縦書きにする */
padding:15px 10px;
font-weight: bold;
height: fit-content;/* 高さを中身に合わせる */
}

/* メイン部分 */
.section{
width: 100%;
background-color: #fff;    
min-height: 100vh;/* 最低でも1画面分の高さが確保される */
padding: 20vh 10px;
scroll-margin-top:-180px ;/* スムーススクロールで止まる位置の調整 */
>h2{
text-align: center;    
font-size: 18px;
font-family: serif;
margin: 50px;
&::before{
content: attr(data-en);
font-family: serif;
font-size: 24px;
display: block;
}
}
}

.about{
text-align: center;
>h3{
font-size: 28px;
font-family: serif;
line-height: 1.75;
margin-bottom: 50px;
}
>p{
line-height: 2;  
font-family: serif;
}
}

.access{
>h3{
text-align: center;    
font-size: 28px;
color: #57556d;
line-height: 1.75;
margin-bottom: 50px;
font-family:"Fredericka the Great", serif; 
}   
.g-map{
width: 80%;
aspect-ratio: 960/360;  
margin: 0 auto;  
>iframe{
width: 100%;
height: 100%;    
filter: grayscale(100%);画像やiframeを白黒にする
};
}
}

/* 640px以下のメイン部分 */
@media (max-width:640px){
.section>h2{
font-size: 22px;  
&::before{
font-size: 22px;      
}  
}
.about{
    text-align: center;
    >h3{
    font-size: 24px;
    font-family: serif;
    margin-bottom: 40px;
    }
    >p{
    font-family: serif;
    }
    }    
    .access{
    >h3{
    text-align: center;    
    font-size: 28px;
    color: #57556d;
    margin-bottom: 50px;
    font-family:"Fredericka the Great", serif; 
    }   
    .g-map{
    width: 96%;
    aspect-ratio: 1/0.75; 
    }
    }
}

.parallax{
width: 100%;
height: 50vh;    
background: url(../img/05.webp) no-repeat center 75% /cover fixed;
/* background-attachment: fixed; */

/* 960px以下 */
@media (max-width: 960px){
background: url(../img/05.webp) no-repeat center 75% /cover scroll;
} 
}

/* フッター部分 */
footer{
width: 100%;
padding: 10px 0 40px;
>p{
width: 80%;
text-align: right;    
margin: 0 auto;
}
@media (max-width: 640px){
>p{
text-align: center;    
}    
}
}



/* ハンバーガーボタン */
#ham-btn{
width: 44px;
height: 44px;
position: fixed;
right: 10px;
top: 5px;
z-index: 10;
background-color: #ffffff;
display: none;/* 要素を非表示 */
@media (max-width: 640px){
display: block;
}

>span{
display: block;
width: 60%;
height: 3px;    
background-color: #333;
position: absolute;
inset: 0;
margin: auto;
transition: 0.2s;


&::before{
display: block;
content: "";
width: 100%;
height: 3px;
background-color: #333;
position: absolute;
top: -8px;
transition: 0.3s;
}

&::after{
display: block; 
content: "";
width: 100%;
height: 3px;  
background-color: #333;
position: absolute;
top: 8px; 
transition: 0.3s;
}
}
}

#ham-btn.click{
>span{
background-color: transparent;    
&::before{
top: 0;
rotate: 45deg;
}    
&::after{
top: 0;
rotate: -45deg;    
}
}    
}

.sp-title{
display: none;

@media (max-width: 640px){
display: block;
font-family: "Fredericka the Great", serif;   
font-size: 20px;
width: fit-content;
padding: 10px;
background-color: #ffffff9c; 
position: absolute;
left: 0;
right: 0;
top: 200px;
margin: auto;
z-index: 10;
}    
}
}
